<% if themes.any? %>
    <ul>
      <% themes.each do |theme| %>
          <li><%= render partial: 'themes/preview', locals: { theme: theme } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
