<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.title') %></h1>

  <nav>
    <ul>
      <li><%= link_to t('themes.index.title'), themes_path %></li>
      <li><%= link_to t('albums.index.title'), albums_path %></li>
      <li><%= link_to t('photos.index.header'), photos_path %></li>
    </ul>
  </nav>
</article>