<% content_for :meta_title, t('.title') %>

<article class="about">
  <h1><%= t('.title') %></h1>
  <section class="information">
    <div class="history">
      <p>Меня зовут Максим Хан-Магомедов. Я родился в июле 1983 года, фотографий стал увлекаться достаточно давно,
        в 2008 году решил, что пора заниматься ей уже серьёзно.</p>

      <p>Фотографирую людей и животных, делаю репортажи, занимаюсь предметной съёмкой и различными фотоэкспериментами.</p>
      <p>Люблю природу, поэтому снимаю очень много пейзажей и макро, многие из работ можно приобрести в напечатанном виде,
        в том числе на холсте.</p>
      <p>В работе я использую камеру и оптику Canon.</p>
    </div>
    <figure>
      <%= image_tag 'maxim.jpg', alt: t('.maxim') %>
    </figure>
  </section>

  <section class="contact">
    <h2>Способы связи</h2>
    <ul>
      <li>Facebook: <%= link_to 'Maxim Khan-Magomedov', 'https://www.facebook.com/maxim.khanmagomedov' %></li>
      <li>Instagram: <%= link_to 'maximkm', 'https://www.instagram.com/maximkm/' %></li>
      <li>Skype: dr_von_ozgg</li>
    </ul>
  </section>
</article>
