<% if @editable_page.nil? %>
  <% content_for :meta_title, t('.title') %>
  <% content_for :meta_description, t('.description') %>
<% else %>
  <%= render partial: 'editable_pages/entity/metadata', locals: { entity: @editable_page } %>
<% end %>

<article class="frontpage">
  <section class="frontpage-albums">
    <%=
      render(
          partial: 'albums/list',
          locals: { collection: FeaturedAlbum.frontpage }
      )
    %>

    <nav><%= link_to(t('.all_albums'), albums_path) %></nav>
  </section>
</article>
