<% if albums.any? %>
    <ul class="preview">
      <% albums.each do |album| %>
          <li><%= render partial: 'albums/preview', locals: { album: album } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
