<% content_for :meta_title, t('.title') %>

<article>
  <div class="content-wrapper">
    <% if component_handler.allow? %>
      <ul class="actions">
        <li><%= gear_icon(admin_albums_path) %></li>
      </ul>
    <% end %>

    <%= render partial: 'albums/list', locals: { collection: @collection } %>
  </div>
</article>
