<% content_for :title, t('.title') %>
<% content_for :administrative_links do %>
    <ul>
      <li><%= link_to t(:list), albums_path %></li>
    </ul>
<% end %>

<section class="album">
  <h1><%= t('.title') %></h1>

  <%= render 'form' %>
</section>
