<% if collection.any? %>
  <%= paginate collection %>

  <ul class="albums-list">
    <% collection.each do |entity| %>
      <li class="slbum-preview">
        <figure>
          <%=
            story_link(
                entity,
                simple_image_medium(entity),
                class: 'proportional-container r-1x1 covered',
                tabindex: '-1'
            )
          %>
          <figcaption>
            <%= story_link(entity) %>
          </figcaption>
        </figure>
      </li>
    <% end %>
  </ul>

  <%= paginate collection %>
<% end %>
