<% content_for :meta_title, t('.title') %>
<% content_for :options do %>
    <ul>
      <li><%= link_to t(:create), new_tag_path %></li>
    </ul>
<% end %>

<article class="tags">
  <h1><%= t('.title') %></h1>

  <%= render partial: 'list', locals: { tags: @collection } %>
</article>
