<footer class="main-footer">
  <div class="content-wrapper">
    <div class="copyright">&copy; <%= t(:copyright) %></div>
    <% if BiovisionComponent.administrative?(current_user) %>
      <nav>
        <ul>
          <li><%= link_to(t('admin.index.index.heading'), admin_path) %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</footer>
