<footer class="main-footer">
  <div class="content-wrapper">
    <nav>
      <% if BiovisionComponent.administrative?(current_user) %>
        <ul class="links">
          <li><%= link_to(t('admin.index.index.heading'), admin_path) %></li>
        </ul>
      <% end %>

      <ul class="social">
        <li>
          <%=
            link_to(
                image_tag('icons/social/patreon.svg', alt: 'Patreon'),
                'https://www.patreon.com/ozgg',
                target: '_blank',
                rel: 'external nofollow noopener noreferrer'
            )
          %>
        </li>
        <li>
          <%=
            link_to(
                image_tag('icons/social/instagram.svg', alt: 'Instagram'),
                'https://www.instagram.com/maximkm/',
                target: '_blank',
                rel: 'external nofollow noopener noreferrer'
            )
          %>
        </li>
      </ul>
    </nav>
    <div class="copyright">&copy; <%= t(:copyright) %></div>
  </div>
</footer>
