<footer class="main-footer">
  <div class="content-wrapper">
    <% if BiovisionComponent.administrative?(current_user) %>
      <nav>
        <ul class="links">
          <li><%= link_to(t('admin.index.index.heading'), admin_path) %></li>
        </ul>
      </nav>
    <% end %>
    <div class="copyright">&copy; <%= t(:copyright) %></div>
  </div>
</footer>
