<% if themes.any? %>
    <ul class="themes">
      <% themes.each do |theme| %>
          <li><%= render partial: 'portfolio/theme_preview', locals: { theme: theme } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
