<% content_for :meta_title, @album.long_name %>
<% content_for :meta_image, request.protocol + request.host_with_port + @album.image.medium.url %>

<article>
  <h1><%= @album.long_name %></h1>

  <%= render partial: 'photos', locals: { photos: @album.photos_for_portfolio } %>
</article>
