<% if current_user_has_privilege?(:photo_manager) %>
  <nav>
    <div class="heading"><%= t('.heading') %></div>

    <ul>
      <li><%= render 'admin/albums/nav_item' %></li>
    </ul>
  </nav>
<% end %>
