.frontpage-instagram {
  margin: var(--spacer-l) 0 auto;

  h2 {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: $content-width;
    padding: 0 var(--spacer-xs);

    &::before {
      background: image_url('icons/social/instagram.svg') no-repeat center / contain;
      content: '\A';
      height: 2rem;
      margin-right: var(--spacer-xs);
      width: 2rem;
    }
  }

  .js-biovision-carousel {
    filter: grayscale(.75);
    transition: .5s;

    &:hover {
      filter: grayscale(0);
    }
  }

  .carousel-container {
    margin-top: var(--spacer-s);
    padding: 0 var(--spacer-xxs);
  }

  .carousel-item {
    padding: var(--spacer-xxs);
    width: 24rem;
  }

  a {
    border-radius: var(--spacer-xs);
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .25);
    display: flex;
    overflow: hidden;
    transition: .25s;

    &:active,
    &:focus,
    &:hover {
      box-shadow: $aberration-shadow-c, $aberration-shadow-a;
    }
  }
}
