#gallery {
  align-items: center;
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
  background: rgba(0, 0, 0, .75);
  bottom: 0;
  display: flex;
  left: 0;
  padding: var(--spacer-xxs);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  button {
    background: rgba(255, 255, 255, .5) no-repeat center / auto 50%;
    border: none;
    border-radius: 50%;
    display: block;
    flex: none;
    height: var(--spacer-m);
    margin: 0;
    transition: .25s;
    width: var(--spacer-m);

    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, .9);
      box-shadow: $aberration-shadow-c;
    }
  }

  .prev {
    background-image: image_url('biovision/base/icons/slider/arrow-left.svg');
  }

  .next {
    background-image: image_url('biovision/base/icons/slider/arrow-right.svg');
  }

  .image {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  figure {
    flex: 1;
    padding: var(--spacer-xxs);
    height: 100%;
  }
}
