<nav class="adjacent">
  <% if photos[:previous].any? %>
      <div class="previous">
        <% photos[:previous].each do |photo| %>
            <div class="image"><%= link_to_photo photo %></div>
        <% end %>
      </div>
  <% end %>
  <% if photos[:next].any? %>
      <div class="next">
        <% photos[:next].each do |photo| %>
            <div class="image"><%= link_to_photo photo %></div>
        <% end %>
      </div>
  <% end %>
</nav>
