<% if adjacent[:prev].is_a?(Photo) || adjacent[:next].is_a?(Photo) %>
    <nav class="adjacent">
      <div class="prev">
        <% if adjacent[:prev].is_a?(Photo) %>
            <div><%= link_to t('.previous'), adjacent[:prev] %></div>
            <%= render partial: 'photos/adjacent/thumbnail', locals: { entity: adjacent[:prev] } %>
        <% end %>
      </div>
      <div class="next">
        <% if adjacent[:next].is_a?(Photo) %>
            <div><%= link_to t('.next'), adjacent[:next] %></div>
            <%= render partial: 'photos/adjacent/thumbnail', locals: { entity: adjacent[:next] } %>
        <% end %>
      </div>
    </nav>
<% end %>
