<% if collection.any? %>
    <ul class="photo-previews">
      <% collection.each do |entity| %>
          <li>
            <%= render partial: 'photos/preview', locals: { entity: entity } %>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
