<% if collection.any? %>
  <ul class="photos-list">
    <% collection.each_with_index do |entity, index| %>
      <li class="photo-preview">
        <figure>
          <%=
            link_to(
                simple_image_medium(entity),
                entity.image.hd_url,
                class: 'proportional-container r-3x2 containing',
                data: {
                    index: index
                },
                title: entity.title,
            )
          %>
          <figcaption><%= entity.title %></figcaption>
        </figure>
      </li>
    <% end %>
  </ul>
<% end %>
