<% if posts[:prev].is_a?(Post) || posts[:next].is_a?(Post) %>
    <nav class="adjacent">
      <div class="prev">
        <% if posts[:prev].is_a? Post %>
            <div><%= t('.previous') %></div>
            <%= render partial: 'posts/preview', locals: { post: posts[:prev] } %>
        <% end %>
      </div>
      <div class="next">
        <% if posts[:next].is_a? Post %>
            <div><%= t('.next') %></div>
            <%= render partial: 'posts/preview', locals: { post: posts[:next] } %>
        <% end %>
      </div>
    </nav>
<% end %>
