<% if tags.any? %>
    <ul class="tags" aria-label="<%= t('posts.form.tags') %>">
      <% tags.each do |tag| %>
          <li><%= link_to tag.body, tagged_posts_path(tag_name: tag.body), rel: 'tag' %></li>
      <% end %>
    </ul>
<% end %>
