@import "shared";

.editable-page {
  h1 {
    font-size: var(--font-size-xxl);
    text-align: center;
  }
}

.feedback_request-form {
  box-shadow: 0 0 .4rem rgba(0, 0, 0, .25);
  margin: var(--spacer-s) auto;
  max-width: 64rem;
  padding: var(--spacer-xxs);

  .fields {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    > div {
      padding: var(--spacer-xxs);
    }

    input,
    textarea {
      width: 100%;
    }
  }

  .comment,
  .name {
    width: 100%;
  }

  .email,
  .phone {
    width: 50%;
  }

  .buttons,
  .consent {
    padding: var(--spacer-xxs);
  }

  .result {
    font-size: var(--font-size-large);
    padding: var(--spacer-s);
    text-align: center;
  }
}
