ul.albums {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
    width: 100%;
    border-bottom: solid #f7f7f7 0.0625rem;

    img {
      width: 100%;
    }

    div {
      text-align: center;
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
}

article.albums {
  ul.preview {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      list-style: none;
      width: 50%;
      margin: 0 0 1rem 0;
      padding: 0;

      img {
        width: 100%;
      }

      div {
        text-align: center;
      }
    }
  }
}

.album, .edit-album {
  figure {
    width: 100%;
    max-width: 30rem;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 500px) {
  ul.albums {
    li {
      padding: 0.25rem;
      width: calc(50% - 0.5rem);

      div {
        line-height: 1.5rem;
      }
    }
  }

  article.albums {
    ul.preview {
      li {
        width: calc(33% - 0.5rem);
        padding: 0.25rem;
      }
    }
  }
}

@media screen and (min-width: 801px) {
  ul.albums {
    li {
      width: calc(33% - 1.5rem);

      div {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
  }

  article.albums {
    ul.preview {
      li {
        width: calc(25% - 1rem);
        padding: 0.5rem;
      }
    }
  }
}
