/*
 *= require_tree .
 *= require_self
 */

body {
  max-width: 1280px;
  min-width: 640px;
  margin: 0 auto;

  > header {
    min-height: 180px;
    position: relative;
    background: #777777 linear-gradient(to top, #777777, #f0f0f0);

    div.logo {
      float: left;
      font-size: 3em;
      font-weight: bold;
      padding: 30px 45px;
      background: rgba(255, 255, 255, 0.5);
    }

    div.languages {
      float: right;
      border: dotted 1px;
      margin: 0 30px;
      background: rgba(255, 255, 255, 0.7);

      > div {
        display: inline-block;
        padding: 5px 15px;
      }
    }

    > nav {
      position: absolute;
      bottom: 0;
      left: 0;

      ul {
        margin: 0;
        padding: 0;

        li {
          margin: 0 15px 0 0;
          padding: 5px 15px;
          list-style: none;
          display: inline-block;
          background: rgba(255, 255, 255, 0.4);
          font-size: 1.2em;
          text-shadow: 0 0 7px #ffffff;
        }
      }
    }
  }

  > footer {
    min-height: 60px;
    background: #f0f0f0;

    div.copyright {
      font-size: 0.9em;
      color: #404040;
      padding: 15px;
    }
  }
}

a:link, a:visited {
  color: #4444ff;
}

a:hover {
  color: #ff4040;
}

div#main {
  position: relative;

  > aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 360px;
  }
}

div#content {
  margin-right: 360px;
}