html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

body {
  max-width: 1120px;
  min-width: 340px;
  font-family: 'Forum', serif;
  margin: 0;
  padding: 0;

  > header {
    border-bottom: solid #f0f0f0 1px;

    h1 {
      padding: 0 0 0 15px;
      font-family: 'Josefin Slab', serif;
      line-height: 50px;
      font-size: 40px;
      background: #f0f0f0;
    }

    nav {
      margin: 0;
      padding: 5px;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          display: inline-block;
          line-height: 25px;
          font-size: 20px;
          padding: 0 10px;
          border-right: solid #cccccc 1px;

          &:last-of-type {
            border-right: none;
          }
        }
      }
    }
  }

  > footer {
    border-top: solid #f0f0f0 1px;
    padding: 5px 15px;
    font-size: 14px;
    color: #333333;
  }
}

a:link, a:visited {
  color: #0000aa;
  text-decoration: none;
}

a:hover {
  color: #aa0000;
  text-decoration: underline;
}

#main {
  padding: 15px;
}
