html {
  font: 300 10px $main-font-family;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

a:link {
  color: $link-color;
}

a:visited {
  color: $link-visited-color;
}

body {
  box-shadow: 0 .5rem 2rem .5rem rgba(0, 0, 0, .125);
  color: $primary_text_color;
  font-size: $normal_font_size;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0;

  > header {
    text-align: center;
    border-bottom: $edge-border;

    .site-name {
      font-size: $larger-font-size;
      line-height: calc(2 * #{$larger-font-size});

      a {
        color: $primary_text_color;
        text-decoration: none;
      }
    }

    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
          font-size: $increased-font-size;
          font-variant: small-caps;
          list-style: none;
          margin: 0 .8rem;
          padding: 0;

          a:link, a:visited {
            color: $link-color;
            text-decoration: none;
          }

          a:hover {
            text-shadow: 0 0 .4rem rgba(127, 0, 255, .5);
          }
        }
      }
    }
  }

  > footer {
    border-top: $edge-border;
    font-size: $decreased_font_size;
    color: $secondary_text_color;
    padding: .8rem;
  }
}

main {
  padding: 1.6rem 0;

  article {
    position: relative;

    h1 {
      padding: 0 .8rem;
    }

    > figure {
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;

      img {
        max-width: 100%;
      }

      figcaption {
        color: $secondary_text_color;
      }
    }
  }
}

h1 {
  font: 600 $larger_font_size $main-font-family;
  margin: 0;
}

.hidden {
  display: none !important;
}

.entity-page {
  form {
    margin: 1.6rem auto;
    max-width: 64rem;
  }
}

nav.adjacent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
