body {
  color: $text-color-primary;
  font: 300 $font-size-normal $font-family-main;
  font-size: var(--font-size-normal);
  height: 100%;
  margin: 0;
  padding: 0;

  > header {
    box-shadow: 0 .3rem .3rem rgba(127, 127, 0, .5);
    padding: $spacer-s;
    width: 100%;
    z-index: 3;

    .site-name {
      font: 300 $font-size-xl $font-family-heading;
      font-size: var(--font-size-xl);
      text-align: center;

      a:link,
      a:visited {
        color: #000;
        text-decoration: none;
        text-shadow: $aberration-shadow-a;
        transition: 1s;
      }

      a:focus,
      a:hover {
        color: rgba(0, 0, 0, .75);
        text-shadow: $aberration-shadow-b;
      }
    }
  }

  > footer {
    border-top: $border-primary;
    font-size: $font-size-decreased;
    color: $text-color-secondary;
    margin: auto 0 0 0;
    padding: $spacer-s;
    width: 100%;

    nav {
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
    }

    ul {
      align-items: center;
      flex-wrap: wrap;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: $spacer-xxs $spacer-xs $spacer-xxs 0;

        &:not(:first-of-type) {
          padding-left: $spacer-xs;
        }

        + li {
          border-left: $border-secondary;
        }
      }
    }

    .social {
      margin-left: auto;

      img {
        width: 1.8rem;
      }
    }
  }
}

.breadcrumbs {
  margin: 0 auto;
  max-width: $content-width;
  padding: $spacer-s $spacer-xs;
}

article {
  max-width: $content-width;
  margin: 0 auto;
  position: relative;

  h1 {
    font-size: $font-size-xxl;
    font-weight: 400;
    text-align: center;
  }
}

@supports (display: flex) {
  body {
    display: flex;
    flex-direction: column;
  }
}

@supports (--css: vars) {
  body {
    > header {
      padding: var(--spacer-s);
    }

    > footer {
      font-size: var(--font-size-decreased);
      padding: var(--spacer-s);

      ul {
        li {
          padding: var(--spacer-xxs) var(--spacer-xs) var(--spacer-xxs) 0;

          &:not(:first-of-type) {
            padding-left: var(--spacer-xs);
          }
        }
      }
    }
  }

  .breadcrumbs {
    padding: var(--spacer-s) var(--spacer-xs);
  }

  article {
    h1 {
      font-size: var(--font-size-xxl);
    }
  }
}
