.photo {
  figure {
    margin: 0;
    padding: 0;

    &.medium {
      img {
        max-width: 360px;
        max-height: 180px;
      }
    }

    &.big {
      text-align: center;
      max-width: 640px;
      margin: 0 auto;

      img {
        max-width: 640px;
        max-height: 360px;
      }

      figcaption {
        border: solid #f7f7f7 1px;
        text-align: left;
        padding: 15px;
      }
    }
  }

  form {
    max-width: 640px;

    > div {
      margin: 0 0 5px 0;
    }

    input[type=text], textarea {
      width: 90%;
    }
  }
}

.photo-preview {
  margin: 5px;
  width: 300px;
  display: inline-block;
  height: 300px;
  position: relative;

  img {
    width: 300px;
    height: 300px;
  }

  > .name {
    position: absolute;
    bottom: 15px;
    left: 0;
    background: rgba(127, 127, 127, 0.4);
    padding: 5px 10px;
    width: 280px;
    color: #ffffff;
    display: none;
    text-align: center;
  }

  &:hover {
    > .name {
      display: block;
    }
  }
}

nav.adjacent {
  width: 640px;
  height: 75px;
  margin: 15px auto 0;

  img {
    width: 75px;
    height: 75px;
  }

  .previous {
    float: left;
    line-height: 75px;

    &:before {
      content: '← ';
    }
  }

  .next {
    float: right;

    &:after {
      content: ' →';
    }
  }
}