article.photo {
  figure {
    margin: 0;
    padding: 0;
    text-align: center;

    img {
      max-width: 100%;
    }

    &.medium {
      img {
        max-width: 360px;
        max-height: 180px;
      }
    }

    &.big {
      text-align: center;
      max-width: 640px;
      margin: 0 auto;

      img {
        max-width: 640px;
        max-height: 360px;
      }

      figcaption {
        border: solid #f7f7f7 1px;
        text-align: left;
        padding: 15px;
      }
    }
  }

  form {
    max-width: 640px;

    > div {
      margin: 0 0 5px 0;
    }

    input[type=text], textarea {
      width: 90%;
    }
  }
}

.photo-preview {
  margin: 5px;
  width: 300px;
  display: inline-block;
  height: 300px;
  position: relative;

  img {
    width: 300px;
    height: 300px;
  }

  > .name {
    position: absolute;
    bottom: 15px;
    left: 0;
    background: rgba(127, 127, 127, 0.4);
    padding: 5px 10px;
    width: 280px;
    color: #ffffff;
    display: none;
    text-align: center;
  }

  &:hover {
    > .name {
      display: block;
    }
  }
}

nav.adjacent {
  width: 680px;
  height: 75px;
  margin: 15px auto 0;
  position: relative;

  img {
    width: 75px;
    height: 75px;
  }

  div.image {
    border-left: transparent solid 1px;
    border-right: transparent solid 1px;
  }

  .previous {
    float: left;
    background: image_url('left.png') no-repeat center right / 30px 75px;
    width: 50%;
    height: 75px;

    > div.image {
      float: right;

      &:first-of-type {
        margin-right: 30px;
      }
    }
  }

  .next {
    float: right;
    background: image_url('right.png') no-repeat center left / 30px 75px;
    width: 50%;
    height: 75px;

    > div.image {
      float: left;

      &:first-of-type {
        margin-left: 30px;
      }
    }
  }
}

ul.photos {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
    width: 100%;
    border-bottom: solid #f7f7f7 0.0625rem;

    img {
      width: 100%;
    }

    div {
      text-align: center;
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
}


@media screen and (min-width: 500px) {
  ul.photos {
    li {
      padding: 0.25rem;
      width: calc(50% - 0.5rem);

      div {
        line-height: 1.5rem;
      }
    }
  }

  article.photos {
    ul.preview {
      li {
        width: calc(33% - 0.5rem);
        padding: 0.25rem;
      }
    }
  }
}

@media screen and (min-width: 801px) {
  ul.photos {
    li {
      width: calc(33% - 0.5rem);

      div {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
  }

  article.photos {
    ul.preview {
      li {
        width: calc(25% - 1rem);
        padding: 0.5rem;
      }
    }
  }
}
