article.photo {
  form {
    max-width: 40rem;

    > div {
      margin: 0 0 0.25rem 0;
    }

    input[type=text], textarea {
      width: 90%;
    }
  }

  .description {
    margin: 0.5rem;
    color: #333333;
  }
}

.photo-preview {
  margin: 0.25rem;
  width: 18.75rem;
  display: inline-block;
  height: 18.75rem;
  position: relative;

  img {
    width: 100%;
  }

  > .name {
    position: absolute;
    bottom: 1rem;
    left: 0;
    background: rgba(127, 127, 127, 0.4);
    padding: 0.25rem 0.625rem;
    width: 17.5rem;
    color: #ffffff;
    display: none;
    text-align: center;
  }

  &:hover {
    > .name {
      display: block;
    }
  }
}

ul.photos {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
    width: 100%;
    border-bottom: solid #f7f7f7 0.0625rem;

    img {
      width: 100%;
    }

    div {
      text-align: center;
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
}

@media screen and (min-width: 500px) {
  ul.photos {
    li {
      padding: 0.25rem;
      width: calc(50% - 0.5rem);

      div {
        line-height: 1.5rem;
      }
    }
  }

  article.photos {
    ul.preview {
      li {
        width: calc(33% - 0.5rem);
        padding: 0.25rem;
      }
    }
  }
}

@media screen and (min-width: 801px) {
  ul.photos {
    li {
      width: calc(33% - 0.5rem);

      div {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
  }

  article.photos {
    ul.preview {
      li {
        width: calc(25% - 1rem);
        padding: 0.5rem;
      }
    }
  }
}
