section.list-of-photos {
  padding: 15px;

  h2 {
    font-size: 1.1em;
  }

  th, td {
    vertical-align: top;
  }

  tbody th {
    background: #777777;
  }
}

section.photo-form {
  padding: 15px;

  form {
    max-width: 640px;

    fieldset {
      margin: 15px 0;

      textarea {
        width: 100%;
      }
    }
  }
}