@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,600|Josefin+Slab:300&subset=cyrillic');

$main-font-family: 'Cormorant Garamond', serif;
$site-name-font-family: 'Cormorant Garamond', serif;

// Common font sizes
$huge_font_size: 3.6rem;
$larger_font_size: 2.8rem;
$large_font_size: 2.2rem;
$increased_font_size: 1.8rem;
$normal_font_size: 1.6rem;
$decreased_font_size: 1.4rem;
$small_font_size: 1.2rem;
$smaller_font_size: 1rem;
$tiny_font_size: .8rem;

// Zebra for lists
$row_background_even: #f0f0f0;
$row_background_odd: #fafafa;

// Colors of text
$primary_text_color: #000;
$secondary_text_color: #777;

$block-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, .25);

@import "tootik";
@import "buttons";
