a.profile {
  padding-left: 2rem;
  background: no-repeat 0 center / 1.6rem 1.6rem;

  &.native {
    background-image: image_url('icons/login/native.png');
  }

  &.vkontakte {
    background-image: image_url('icons/login/vkontakte.png');
  }

  &.twitter {
    background-image: image_url('icons/login/twitter.png');
  }

  &.facebook {
    background-image: image_url('icons/login/facebook.png');
  }
}

form.login {
  box-shadow: $block-shadow;
  margin: 0 auto;
  max-width: 30rem;

  .fields {
    padding: 1.6rem 1.6rem 0;

    > div {
      align-items: center;
      display: flex;
      justify-content: space-between;

      label {
        display: inline-block;
        line-height: $large_font_size;
      }
    }
  }

  .actions {
    padding: 1.6rem;

    button {
      @include action-button;
    }
  }
}
