<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>
<%= render 'common/footer' %>

<section class="categories">
  <h1><%= t('.title') %></h1>
  <% if current_user %>
      <nav>
        <ul>
          <li><%= link_to t(:create), new_category_path %></li>
        </ul>
      </nav>
  <% end %>
  <% if @categories.any? %>
  <% else %>
      <%= render 'common/nothing_found' %>
  <% end %>
</section>