<nav>
  <ul>
    <li><%= link_to t('.home'), root_path, accesskey: '0' %></li>
    <% Category.main.each do |category| %>
        <li><%= category_by_slug category %></li>
    <% end %>
    <li><%= link_to t('.about'), about_path, accesskey: 'a' %></li>
  </ul>
</nav>