<% if collection.any? %>
  <section class="frontpage-instagram">
    <h2>maximkm</h2>

    <div class="js-biovision-carousel">
      <button class="prev"></button>
      <ul class="carousel-container">
        <% collection.each do |entity| %>
          <li class="carousel-item">
            <%=
              link_to(
                  image_tag(entity.thumbnail_url),
                  entity.url,
                  class: 'proportional-container r-1x1',
                  rel: 'noopener noreferer nofollow external'
              )
            %>
          </li>
        <% end %>
      </ul>
      <button class="next"></button>
    </div>
  </section>
<% end %>
