.albums-list {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: var(--spacer-s);
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  margin: 0 auto;
  max-width: $content-width;
  padding: var(--spacer-xs);

  li {
    list-style: none;
    padding: 0;
    margin: 0;

    &:hover {
      .image {
        box-shadow: $aberration-shadow-c;
        filter: hue-rotate(-5deg);
      }
    }

    a:link,
    a:visited {
      color: inherit;
    }

    .image {
      box-shadow: $aberration-shadow-a;
      font-size: 0;
      transition: .5s;

      a {
        display: block;
        overflow: hidden;
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .title {
      font-size: var(--font-size-large);
      font-weight: 400;
      padding: var(--spacer-xs);
      text-align: center;
    }
  }
}

.photos-list {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  grid-gap: var(--spacer-s);
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  margin: 0 auto;
  max-width: $content-width;
  padding: var(--spacer-xs);
  scroll-behavior: smooth;

  > div {
    padding: 0;
    margin: 0;

    label {
      cursor: pointer;
      display: block;
      font-size: 0;
      overflow: hidden;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    figure {
      display: none;
    }
  }

  input[type=radio]:checked {
    + div {
      display: flex;
      grid-column: 1/-1;
      grid-row: 1;
      max-height: 100vh;
      width: 100%;

      > label {
        display: none;
      }

      figure {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 100vh;

        div {
          flex: 1;
          overflow: hidden;
        }

        img {
          height: 100%;
          object-fit: contain;
          width: 100%;
        }
      }

      figcaption {
        border-bottom: $border-primary;
        color: $text-color-secondary;
        flex: none;
        padding: var(--spacer-xs);
      }
    }
  }
}

#photo_0:focus + div {
  box-shadow: 0 0 .2rem rgba(0, 0, 0, .25);
}
